name: air-quality-daily

on:
  workflow_dispatch:
  schedule:
    - cron: '11 6 * * *'

jobs:
  schedule_pipelines:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Setup environment variables
        run: |
          echo "AQICN_API_KEY=${{ secrets.AQICN_API_KEY }}" >> .env
          echo "AQICN_COUNTRY=${{ secrets.AQICN_COUNTRY }}" >> .env
          echo "AQICN_CITY=${{ secrets.AQICN_CITY }}" >> .env
          echo "AQICN_STREET=${{ secrets.AQICN_STREET }}" >> .env
          echo "AQICN_URL=${{ secrets.AQICN_URL }}" >> .env

      - name: Execute Python notebooks
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
          HOPSWORKS_HOST: ${{ vars.HOPSWORKS_HOST }}
          HOPSWORKS_PROJECT: ${{ vars.HOPSWORKS_PROJECT }}
        run: |
          ipython notebooks/airquality/2_air_quality_feature_pipeline.ipynb
          ipython notebooks/airquality/4_air_quality_batch_inference.ipynb

      - name: GitHub Pages publish
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Air Quality Dashboard published"
          commit_options: '--no-verify --signoff'
          file_pattern: 'docs/air-quality/assets/img/* docs/_includes/*'
          repository: .
          status_options: '--untracked-files=no'
          skip_dirty_check: true
          skip_fetch: true
          skip_checkout: true
          push_options: '--force'